repos:
  - repo: local
    hooks:

      - id: jupytext-integrity
        name: Jupytext Sync & Integrity Check
        entry: ./tools/scripts/hooks/sync_and_verify/sync_and_verify.py
        language: python
        files: \.(md|ipynb)$
        pass_filenames: true
        require_serial: true
        stages: [pre-commit]

      - id: check-broken-links
        name: Check Broken Links in ipynb Files
        entry: ./tools/scripts/hooks/check_broken_links/check_broken_links.py
        language: python
        files: \.ipynb$
        pass_filenames: true
        stages: [pre-commit]

      - id: test-check-broken-links
        name: Test Check Broken Links script
        entry: uv run pytest tools/scripts/hooks/check_broken_links/test_check_broken_links.py
        language: python
        files: tools/scripts/hooks/check_broken_links/(check_broken_links\.py|test_check_broken_links\.py)$
        pass_filenames: false
        additional_dependencies: [pytest]
        stages: [pre-commit]
