repos:
  - repo: local
    hooks:

      - id: check-broken-links
        name: Check Broken Links
        entry: uv run tools/scripts/check_broken_links.py
        language: python
        files: \.ipynb$
        pass_filenames: true
        stages: [pre-commit, manual]

#      - id: jupytext-sync
#        name: Jupytext Sync
#        entry: uv run tools/scripts/core/cli.py jupytext-sync
#        language: python
#        files: \.(md|ipynb)$
#        pass_filenames: true
#        require_serial: true
#        stages: [pre-commit]
#
#      - id: jupytext-verify-pair
#        name: Jupytext Verify Pair
#        entry: uv run tools/scripts/core/cli.py jupytext-verify-pair
#        language: python
#        files: \.(md|ipynb)$
#        pass_filenames: true
#        require_serial: true
#        stages: [pre-commit]

      # ---TESTS of HOOK SCRIPTS---
      # Trigger this whenever any script or test in the scripts
      # directory changes
      - id: test-check-broken-links
        name: Test Check Broken Links script
        entry: uv run pytest tools/tests/test_check_broken_links.py
        language: python
        files: ^tools/(scripts/check_broken_links\.py|scripts/paths\.py|tests/test_check_broken_links\.py)$
        pass_filenames: false
