repos:
  - repo: local
    hooks:

      - id: check-broken-links
        name: Check Broken Links
        entry: uv run --active tools/scripts/check_broken_links.py --pattern "*.md"
        language: python
        files: \.md$
        pass_filenames: false
        stages: [pre-commit, manual]

      - id: jupytext-sync
        name: Jupytext Sync
        entry: uv run tools/scripts/jupytext_sync.py
        language: python
        files: \.(md|ipynb)$
        pass_filenames: true
        require_serial: true
        stages: [pre-commit]

      - id: jupytext-verify-pair
        name: Jupytext Verify Pair
        entry: uv run tools/scripts/jupytext_verify_pair.py
        language: python
        files: \.(md|ipynb)$
        pass_filenames: true
        require_serial: true
        stages: [pre-commit]

      # ---TESTS of HOOK SCRIPTS---
      # Trigger this whenever any script or test in the scripts
      # directory changes
      - id: test-check-broken-links
        name: Test Check Broken Links script
        entry: uv run --active pytest tools/tests/test_check_broken_links.py
        language: python
        files: ^tools/(scripts/check_broken_links\.py|scripts/paths\.py|tests/test_check_broken_links\.py)$
        pass_filenames: false

      - id: test-jupytext-sync
        name: Test Jupytext Sync script
        entry: uv run --active pytest tools/tests/test_jupytext_sync.py
        language: python
        files: ^tools/(scripts/jupytext_sync\.py|scripts/paths\.py|tests/test_jupytext_sync\.py)$
        pass_filenames: false

      - id: test-jupytext-verify-pair
        name: Test Jupytext Verify Pair script
        entry: uv run --active pytest tools/tests/test_jupytext_verify_pair.py
        language: python
        files: ^tools/(scripts/jupytext_verify_pair\.py|scripts/paths\.py|tests/test_jupytext_verify_pair\.py)$
        pass_filenames: false
